body {
    margin: 0;
    background: #000000;
    font-family:'Courier New', Courier, monospace;
    font-weight: 300;
}

.container {
    width: 30%;
    margin-top: 0 auto;
}

header {
    background:#8811f7;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    height: 50px;
    width: auto;
    float: center;
    padding: 15px, 50px;
}

.left {
    float: left;
}

.center {
    float: center;
}

nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav > li {
    display: inline-block;
    scroll-margin-right: 20px;
    padding-top: 20px;

    position: relative;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav > a:hover {
    color:black;
}

nav > a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #8811f7;
    
    position: absolute;
}